@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@100&display=swap');

:root {
  --primary: #fff;
  --secondary: #000000;
  --grey: #808080;
  --yellow: #ffff00;
  --footer-color: #004068;
  --wheat-color: wheat;
  --github-color: black;
  --linkedin-color: #0976b4;
  --twitter-color: #55acee;
  --insta-color: crimson;
}

body {
  background-image: url('../images/minions-background.jpg');
  margin: 0;
  font-family: 'Comfortaa', cursive;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
main {
  text-align: center;
}

h1 {
  color: var(--secondary);
  font-weight: bolder;
  text-align: center;
}

p {
  color: var(--grey);
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  word-spacing: 5px;
}

.input {
  width: 60%;
  height: 30vh;
  border: 3px solid var(--primary);
  border-radius: 25px;
  margin: 0.5rem;
  padding: 1rem;
  outline: none;
  display: block;
  margin: 0 auto;
  background-color: var(--yellow);
}

#input-btn {
  background-color: var(--yellow);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 15px;
  cursor: pointer;
  margin: centre;
  margin: 25px 47%;
  height: 43px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  font-weight: 700;
}

#output {
  width: 60%;
  height: 15vh;
  border: 3px solid var(--primary);
  border-radius: 25px;
  margin: 0.5rem auto;
  padding: 1rem;
  color: var(--yellow);
  font-family: monospace;
  text-align: left;
  font-size: 20px;
  background-color: var(--secondary);
}

/* footer section styling */
footer {
  background: var(--footer-color);
  padding: 15px 23px;
  color: var(--primary);
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin-top: 20px;
}
footer span a {
  color: var(--wheat-color);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
.social-buttons {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin: 20px 10px;
}
.social-buttons .social-margin {
  margin-right: 15px;
}

.social-buttons .social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}

.social-buttons .social-icon.twitter {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 2px;
  border-color: var(--twitter-color);
  background-color: var(--twitter-color);
  color: var(--primary);
}
.social-buttons .social-icon.twitter:hover {
  background-color: var(--primary);
  color: var(--twitter-color);
}
.social-buttons .social-icon.linkedin {
  font-size: 24px;
  padding-top: 8px;
  padding-left: 1px;
  background-color: var(--linkedin-color);
  color: var(--primary);
  border-color: var(--linkedin-color);
}
.social-buttons .social-icon.linkedin:hover {
  background-color: var(--primary);
  color: var(--linkedin-color);
}
.social-buttons .social-icon.instagram {
  font-size: 22px;
  padding-top: 9px;
  background-color: var(--insta-color);
  color: var(--primary);
  border-color: var(--insta-color);
}
.social-buttons .social-icon.instagram:hover {
  background-color: var(--primary);
  color: var(--insta-color);
}
.social-buttons .social-icon.github {
  font-size: 22px;
  padding-top: 9px;
  background-color: var(--github-color);
  color: var(--primary);
  border-color: var(--github-color);
}
.social-buttons .social-icon.github:hover {
  background-color: var(--primary);
  color: var(--github-color);
}
